# 설명
Json Data를 MySQL Query로 변경해주는 파일

In [1]:
from util.file_handler import iterator_dir_children, make_file_path, load_json, saveAsFileWithGenerator
from util.dict_to_sql import Dict_to_SQL

In [2]:
# 특정 경로 내부의 모든 파일을 Generator로 가져오기.
SOURCE_DIR = "wanted_json"
SQL_FILE = "wanted_mysql.sql"

# DB 칼럼명과 Json Key값 연결
mapper = {
    "company_name": "company_name",
    "location": "location",
    "sales": "sales_amount",
}

In [6]:
it = iterator_dir_children(SOURCE_DIR)
file_path = make_file_path(SQL_FILE)

reduce_to_sql = Dict_to_SQL("company", mapper)

it = map(load_json, it)
sql = reduce_to_sql.make_query(it)

sql

Error reading directory: [WinError 3] 지정된 경로를 찾을 수 없습니다: './data/wanted_json'

In [2]:
member_mapper = {
    "email": "email",
    "nickname": "nickname",
    "password": "password",
}

company_mapper = {
    "company_name": "companyName",
    "location": "location",
}

comment_mapper = {
    "comment": "comment",
    "detail_id": "detailid",
    "member_id": "member_id",
}

In [3]:
signup = [
    {
      "nickname": "nick",
      "id": 1,
      "email": "rladydqls99@naver.com",
      "password": 1234
    },
    {
      "nickname": "rasd",
      "email": "rlaydld@asd.com",
      "password": "1234",
      "id": 2
    }
  ]

login = [
    {
      "id": 1,
      "email": "rladydqls99@naver.com",
      "password": 1234
    },
    {
      "email": "rladydqls99@naver.com",
      "password": "1234",
      "id": 2
    },
    {
      "email": "rladydqls92@naver.com",
      "password": "asdasd",
      "id": 3
    }
  ]

comments= [
    {
      "id": 1,
      "comment": "복지 좋음",
      "member_id": 1,
      "detailid": 1234
    },
    {
      "id": 3,
      "comment": "사장님 착함",
      "member_id": 1,
      "detailid": 1234
    },
    {
      "id": 4,
      "comment": "야근 많음",
      "member_id": 2,
      "detailid": 1235
    },
    {
      "id": 5,
      "comment": "밥 맛있음",
      "member_id": 2,
      "detailid": 1235
    }
  ]

company= [
    {
      "companyName": "samsung",
      "location": "seoul",
      "id": 1,
      "detailid": 1234
    },
    {
      "companyName": "toss",
      "location": "daejeon",
      "id": 2,
      "detailid": 1236
    },
    {
      "companyName": "samsung",
      "location": "daegu",
      "id": 3,
      "detailid": 1235
    },
    {
      "companyName": "samsung",
      "location": "seoul",
      "id": 4,
      "detailid": 1236
    },
    {
      "companyName": "toss",
      "location": "daejeon",
      "id": 5,
      "detailid": 1237
    }
  ]

In [4]:
reduce_to_sql = Dict_to_SQL("member", member_mapper)

it = iter(signup)
sql = reduce_to_sql.make_query(it)

sql

"INSERT INTO `member` (id, email, nickname, password) VALUES ('1', 'rladydqls99@naver.com', 'nick', '1234') ,('2', 'rlaydld@asd.com', 'rasd', '1234');"

In [5]:
reduce_to_sql = Dict_to_SQL("company", company_mapper)

it = iter(company)
sql = reduce_to_sql.make_query(it)

sql

"INSERT INTO `company` (id, company_name, location) VALUES ('1234', 'samsung', 'seoul') ,('1236', 'toss', 'daejeon') ,('1235', 'samsung', 'daegu') ,('1236', 'samsung', 'seoul') ,('1237', 'toss', 'daejeon');"

In [6]:
reduce_to_sql = Dict_to_SQL("comment", comment_mapper)

it = iter(comments)
sql = reduce_to_sql.make_query(it)

sql

"INSERT INTO `comment` (id, comment, detail_id, member_id) VALUES ('1', '복지 좋음', '1234', '1') ,('3', '사장님 착함', '1234', '1') ,('4', '야근 많음', '1235', '2') ,('5', '밥 맛있음', '1235', '2');"