# 설명
Json Data를 MySQL Query로 변경해주는 파일

In [25]:
from util.file_handler import iterator_dir_children, make_file_path, load_json, saveAsFileWithGenerator
from util.dict_to_sql import Dict_to_SQL

In [26]:
# 특정 경로 내부의 모든 파일을 Generator로 가져오기.
SOURCE_DIR = "saramin"
SQL_FILE = "saramin_mysql.sql"

# DB 칼럼명과 Json Key값 연결
mapper = {
    "company_name": "기업명",
    "location": "주소",
    "sales": "매출액",
}

In [27]:
def is_name_none(json):
    if "기업명" not in json: return False
    return True

def is_location_none(json):
    if "주소" not in json: return False
    item = json["주소"].strip()
    if len(item) == 0: return False
    if item[-1] == '.': return False
    return True

def is_sales_none(json):
    if "매출액" not in json: return False
    item = json["매출액"].strip()
    if len(item) == 0: return False
    if item == "-": return False
    return True

In [28]:
it = iterator_dir_children(SOURCE_DIR)
file_path = make_file_path(SQL_FILE)

reduce_to_sql = Dict_to_SQL("company", mapper)

it = map(load_json, it)
it = filter(is_name_none, it)
it = filter(is_location_none, it)
it = filter(is_sales_none, it)
sql = reduce_to_sql.make_query(it)

print(sql)

INSERT INTO `company` (company_name, location, sales) VALUES ('한국교직원공제회', '서울 영등포구 여의나루로 50 (여의도동, 한국교직원공제회관)', '3조 6,751억원') ,('(주)문화방송', '서울 마포구 성암로 267 (상암동, (주)문화방송) 문화방송 경영센터 13층 인사부', '8,602억 3천만원') ,('금호석유화학(주)', '서울 중구 수표동 99 시그니쳐타워스 동관 12층', '5조 868억원') ,('세메스(주)', '충남 천안시 서북구 직산읍 모시리 278', '2조 8,892억원') ,('서울대학교병원', '서울 종로구 연건동  28 서울대학교병원', '2조 3,034억원') ,('현대자동차㈜', '서울 서초구 헌릉로 12 (양재동, 현대기아자동차빌딩) 현대자동차', '65조 3천억원') ,('(주)포스코이앤씨', '경북 포항시 북구 중흥로 307 (죽도동, 포스코건설엔', '8조 1,245억원') ,('삼성엔지니어링', '서울 강동구 상일로6길 26 (상일동, 삼성엔지니어링) GEC', '6조 6,733억원') ,('㈜효성', '서울 마포구 마포대로 119 (공덕동, 효성[HYOSUNG]공덕빌딩) 효성본사', '7,499억 9천만원') ,('엘지전자㈜', '서울특별시 영등포구 여의대로 128  (여의도동) LG트윈타워', '27조 7천억원') ,('건강보험심사평가원', '강원 원주시 혁신로 60 (반곡동, 건강보험심사평가원) 건강보험심사평가원', '3,642억 1백만원') ,('한화오션(주)', '경남 거제시 거제대로 3370 (아주동, 대우조선해양)', '4조 8,176억원') ,('메르세데스벤츠코리아(주)', '서울 중구 남대문로5가 541 서울스퀘어 9층 메르세데스-벤츠 코리아', '7조 5,350억원') ,('네이버', '경기 성남시 분당구 정자일로 95 (정자동, 네이버1784) 네이버 1784', '5조 5,125억원') ,('㈜파리크라상', '경기 성남시 중원구 사기막골로31번길 18 (상대원동)  파리크라상', '1조 8,351억') ,('SK쉴더스㈜', '경기 성남시 분당구 판교로227번길 23 (삼평동, 판교R&D센터) 4&5층', '3051억 2천만') ,('동원산업', '서울 서초구 마방로 68 (양재동, 동원산업빌딩)', '1조 314억원') ,('한국전력공사', '서울 강남구 삼성동 167번지 한국전력공사 디자인실', '68조 9천억원') ,('신한카드(주)', '서울 중구 충무로1가 21 포스트타워', '4조 4,511억원') ,('CJ제일제당(주)', '서울 중구 쌍림동 CJ제일제당센터', '7조 8,426억원') ,('(주)인팩', '서울 송파구 백제고분로 450 (방이동) (주)인팩', '4,392억') ,('포스코DX', '경상북도 포항시 남구 호동   606 (주)포스코아이씨티', '1조 1,087억원') ,('신한은행', '서울 중구 태평로2가 120번지 대경빌딩 5층', '33조 8천억원') ,('신용보증기금', '대구 동구 첨단로 7 (신서동, 신용보증기금본점) 14층', '8,415억 3천만원') ,('(주)한라홀딩스', '서울 송파구 신천동 루터회관', '8,923억 4천만원') ,('GS리테일', '서울 강남구 역삼동 679번지 GS타워', '10조 5천억원') ,('LG 이노텍', '서울 강서구 마곡중앙10로 30 (마곡동, 엘지사이언스파크) E1/E3동 LG이노텍', '19조 9백억원') ,('한전KPS(주)', '전남 나주시 문화로 211 (빛가람동, 한전KPS)', '1조 4,259억원') ,('대한항공', '서울 강서구 하늘길 260 (공항동, 대한항공)', '13조 4천억원') ,('KDB산업은행', '서울 영등포구 여의도동 산업은행본점 인사부', '50조 3천억원') ,('SK하이닉스(주)', '경기 이천시 부발읍 아미리 산 136-1', '37조 8천억원') ,('㈜SM엔터테인먼트', '서울 성동구 왕십리로 83-21 (성수동1가, 아크로서울', '5,137억 7천만원') ,('(주)유니에스', '서울 강남구 삼성2동 성원빌딩 11층', '3,568억 3천만원') ,('쿠팡(주)', '서울특별시 송파구 송파대로 570  (신천동) 18층', '4조 4227억원') ,('(주)DB하이텍', '경기 부천시 수도로 90 (도당동) 디비하이텍', '1조 6,752억원') ,('한양이엔지(주)', '경기 화성시 반월동 104', '1조 318억원') ,('서호전기(주)', '경기 안양시 동안구 호계2동 900-3', '467억 2천만원') ,('㈜컴투스', '서울 금천구 가산동 371-17 BYC하이시티 A동 12층', '4854억원') ,('엘지디스플레이', '서울 영등포구 여의도동  20', '24조 1천억원') ,('키움증권㈜', '서울 영등포구 여의나루로4길 18 (여의도동, 키움파이낸스스퀘어) 키움증권(주)', '8조 316억원') ,('DAP', '경기 안산시 단원구 만해로230번길 12 (성곡동, (주)디에이피) (주)디에이피', '3,279억 1천만원') ,('㈜한화', '서울 중구 청계천로 86 (장교동, 한화빌딩) 한화', '3조 8,799억원') ,('삼성전기(주)', '경기 수원시 영통구 매탄3동 314 번지 삼성전기 주식회사', '6조 8,384억') ,('GS칼텍스(주)', '서울 강남구 역삼동 679번지 GS타워 27층', '55조 6천억원') ,('(주)제일기획', '서울 용산구 한남동  736-1 제일빌딩', '1조 2,805억원') ,('㈜국민은행', '서울특별시 중구 남대문로 84  (을지로2가) 국민은행', '47조 7천억원') ,('(주)대웅제약', '서울 강남구 삼성동 163-3 대웅제약', '1조 1,612억원') ,('LG', '서울 영등포구 여의도동 LG트윈타워 동관29층', '1조 675억원') ,('㈜LX하우시스', '서울 중구 후암로 98 (남대문로5가, LG서울역빌딩) LG하우시스 서울특별시 중구 후암로 98', '3조 650억원') ,('코리아세븐', '서울 중구 청계천로 100 (수표동, 시그니쳐타워) 4~5층 코리아세븐', '4조 7,891억원') ,('애플코리아(유)', '서울 강남구 영동대로 517 (삼성동, 아셈타워)', '7조 3,348억원') ,('코웨이㈜', '서울특별시 구로구 디지털로26길 38 (구로동) G-TOWER', '2조 8,134억원') ,('한국항공우주산업(주)', '경남 사천시 사남면 유천리 802번지 한국항공우주산업(주)', '2조 7,719억원') ,('㈜아데코코리아', '서울특별시 송파구 백제고분로 69 애플타워 5층', '785억 2천만원') ,('(주)카카오페이', '경기 성남시 분당구 판교역로 166 (백현동) 카카오판교아지트 b동 15층', '4,827억 6천만원') ,('㈜LF네트웍스', '서울특별시 강남구 논현로 323  (역삼동) MTU빌딩', '1288억') ,('㈜아이아이컴바인드', '서울 마포구 서교동 399-1 테스트빌딩', '3,181억 8천만원') ,('㈜삼구아이앤씨', '서울 중구 청계천로 100 (수표동, 시그니쳐타워) 동관 6층', '1조 5,000억원') ,('굿리치㈜', '서울 중구 세종대로9길 41 (서소문동, 퍼시픽타워) 7층', '3,311억원') ,('㈜원익아이피에스', '경기 평택시 진위면 진위산단로 75 (청호리) 원익ips', '1조 114억원') ,('국민건강보험공단', '서울 마포구 염리동 168-9', '113조 7천억원') ,('메가스터디교육(주)', '서울 서초구 서초동 효령로321(서초동, 덕원빌딩)', '8,356억') ,('(주)셀트리온제약', '충북 청주시 청원구 2산단로 82 (송대리, (주)셀트리온) (주)셀트리온제약', '3,860억 3천만원') ,('㈜천재교육', '서울 금천구 가산로9길 54 (가산동, 천재교육) 주식회사 천재교육', '1,235억 9천만원') ,('(주)비바리퍼블리카', '서울 강남구 테헤란로 142 (역삼동, 캐피탈타워) B존 12층 Toss', '3,307억 7천만원') ,('에이치엘디앤아이한라 주식회사', '서울 송파구 올림픽로 289 (신천동, 잠실시그마타워) 9F 인사팀', '1조 3,794억원') ,('SK텔레콤', '서울 중구 을지로 65 (을지로2가, SK텔레콤빌딩)', '12조 4천억원') ,('현대로템(주)', '경기 의왕시 철도박물관로 37 (삼동, 주식회사로템) 인사팀', '3조 1,060억원') ,('(주)퍼시스', '서울 송파구 오금동 45-1 퍼시스빌딩', '3,732억 6천만원') ,('삼성생명보험㈜', '서울 서초구 서초대로74길 11 (서초동, 삼성전자빌딩)', '34조 4천억원') ,('포스코홀딩스', '서울 강남구 테헤란로 440 (대치동, 포스코센터) 포스코', '8조 5,898억원') ,('삼성증권', '서울 서초구 서초대로74길 11 (서초동, 삼성전자빌딩) 삼성증권', '13조 1천억원') ,('한국공항(주)', '서울 강서구 방화동 499-1', '3,792억 9천만원') ,('에스케이실트론(주)', '경북 구미시 임수동 274', '2조 3,177억원') ,('현대건설(주)', '서울 종로구 계동 140-2번지 현대건설 빌딩6층', '11조 9천억원') ,('삼성바이오로직스(주)', '인천 연수구 송도동 시험생산동 104 B호', '2조 4,372억원') ,('㈜KT', '경기 성남시 분당구 정자동 206', '18조 2천억원') ,('만도', '경기 성남시 분당구 삼평동 619', '2조 6,440억원') ,('LG유플러스', '서울 용산구 한강대로 32 (한강로3가, 엘지유플러스) LG유플러스', '12조 7천억원') ,('한화솔루션㈜', '서울 중구 청계천로 86 (장교동, 한화빌딩) 한화솔루션 전략부문', '9조 6,863억원') ,('DB손해보험㈜', '서울 강남구 테헤란로 432 (대치동, DB금융센터)', '19조 9천억원') ,('삼성전자(주)', '서울 서초구 서초2동 1321-15번지 삼성생명 서초타워', '211조 8천억원') ,('청호나이스', '전남 순천시 향매2길 1 (신대리) 1층 청호나이스', '4,355억 9백만원') ,('현대모비스(주)', '서울 강남구 테헤란로 203 (역삼동, 서울인터내셔널타워) 현대모비스', '34조 5백억원') ,('르노삼성자동차㈜', '대전 동구 용전동 64-16 르노삼성자동차 대전사업소', '4조 8,619억원') ,('㈜CJ ENM', '서울 마포구 상암동 상암산로 66 CJ ENM CENTER 엔터테인먼트부문', '3조 101억원') ,('동국제강(주)', '서울 중구 수하동 66 페럼타워', '7조 7,632억원') ,('삼성전자판매(주)', '경기 성남시 분당구 서현동 262-1', '3조 4,462억원') ,('㈜현대지에프홀딩스', '경기 용인시 수지구 문인로 30 (동천동, 현대그린푸드) 현대지에프홀딩스', '1조 9,240억원') ,('㈜농심', '서울 동작구 신대방동 370-1', '2조 3,959억원') ,('㈜대우건설', '서울 중구 을지로 170 (을지로4가, 을지트윈타워) 에이동', '9조 3,189억원') ,('(주)현대홈쇼핑', '서울 강동구 천호2동  454-2 현대홈쇼핑 9층', '1조 1,016억원') ,('㈜엘엑스세미콘', '대전 유성구 테크노2로 222 (탑립동, 주식회사실리콘윅스) 실리콘웍스 대전캠퍼스', '1조 1,618억') ,('현대위아(주)', '경남 창원시 성산구 가음정동 391-8', '6조 6,811억원') ,('한일네트웍스(주)', '서울 중구 수표로 34 (저동2가, 씨티센터타워) 10층', '1283억') ,('한국투자증권(주)', '서울 영등포구 의사당대로 88 (여의도동, 한국투자증권빌딩) 20층 채용교육부', '22조 8천억원') ,('한온시스템', '대전 대덕구 신일서로 95 (신일동, 한라공조(주))', '3조 2,028억원') ,('구글코리아(유)', '서울 강남구 역삼1동 737 강남파이낸스센터 22층', '3,448억 5천만원') ,('미래에셋증권㈜', '서울 중구 을지로5길 26 (수하동, 미래에셋 CENTER 1) 미래에셋센터원빌딩 이스트타워 18층', '16조 7천억원') ,('대림산업㈜', '서울 종로구 통일로 134 (평동, 디타워(돈의문)) DL이앤씨', '2,237억 3천만원') ,('한미약품(주)', '서울 송파구 위례성대로 14 (방이동, 한미타워) 한미약품', '9,820억 4천만원') ,('현대오일뱅크(주)', '충남 서산시 대산읍 대죽리 640-6', '32조 5천억원') ,('㈜BGF리테일', '서울 강남구 삼성동 135-876 BGF사옥', '9,386억 5천만') ,('대성산업㈜', '서울 구로구 경인로 662 (신도림동, 디큐브시티) 11층 대성산업주식회사', '8,812억 8백만원') ,('(주)호텔신라', '서울 중구 동호로 249 (장충동2가, 신라호텔)', '4조 2,659억원') ,('현대엘리베이터(주)', '서울 종로구 연지동 1-7 현대그룹빌딩 동관 8층 물류영업부', '1조 6,571억원') ,('(주)JYP엔터테인먼트', '서울 강동구 강동대로 205 (성내동, JYPCenter) ㈜제이와이피엔터테인먼트', '2,915억') ,('대한제당(주)', '서울 송파구 올림픽로 299 (신천동, 대한제당) 대한제당건물', '1조 389억원') ,('삼성화재해상보험', '서울 서초구 서초대로74길 14 (서초동, TheAsset)', '25조 2천억원') ,('SK에코플랜트㈜', '서울 종로구 율곡로2길 19 (수송동, 수송스퀘어) G.plant', '7조 5천억') ,('한국관광공사', '강원 원주시 세계로 10 (반곡동, 한국관광공사) 한국관광공사', '3800억원') ,('삼성디스플레이(주)', '경기 용인시 기흥구 농서동 230 삼성디스플레이 본사', '30조 7천억원') ,('현대두산인프라코어', '서울 중구 을지로6가 두산타워 26층', '4조 2,049억원') ,('(주)에스원', '서울 중구 순화동 168번지 에스원빌딩', '2조 4,272억원') ,('한국수력원자력(주)', '경상북도 경주시 양북면 불국로 1655  한국수력원자력(주)', '10조 3천억원') ,('(재)한국항공우주연구원', '대전 유성구 어은동 45번지 3층', '5,611억 4천만원') ,('(주)한국씨티은행', '서울특별시 종로구 새문안로 50', '4조 7,902억원') ,('엘아이지넥스원(주)', '서울 마포구 합정동 471 합정빌딩 24층', '2조 2,161억원') ,('현대해상화재보험㈜', '서울 종로구 세종대로 163 (세종로, 현대해상빌딩) 현대해상빌딩', '20조 1천억원') ,('한국전자통신연구원', '대전 유성구 가정동 161번지 한국전자통신연구원', '5,669억 1천만원') ,('에이치엠엠', '서울 영등포구 여의대로 108 (여의도동, 파크원) 타워1 HMM', '18조 4천억원') ,('한미반도체(주)', '인천 서구 가좌동 532-2', '3,239억 4천만원') ,('㈜엘지헬로비전', '서울 마포구 월드컵북로56길 19 (상암동, 드림타워) 상암디지털드림타워', '1조 1,682억원') ,('(주)엔씨소프트', '경기 성남시 분당구 삼평동 668번지', '1조 7011억') ,('홈플러스㈜', '서울 강서구 화곡로 398 (등촌동, 홈플러스강서점앤본사사옥)', '6조 6,005억원') ,('(재)씨젠의료재단', '서울 성동구 용답동 2-3', '2000억원') ,('국민연금공단', '서울 송파구 신천동 7-16 국민연금회관', '34조 8천억원') ,('(주)신세계아이앤씨', '서울 중구 남대문시장10길 2 (회현동1가, MESA) 21층', '5,881억 5천만원') ,('E1', '서울 용산구 한강대로 92 (한강로2가, LS용산타워)', '7조 5,936억원') ,('(주)한섬', '서울 강남구 삼성동 52-1', '1조 5,370억원') ,('한화생명보험㈜', '서울 영등포구 63로 50 (여의도동, 63한화생명빌딩)', '21조 1천억원') ,('엘에스일렉트릭㈜', '경기 안양시 동안구 엘에스로 127 (호계동, LS타워) 엘에스일렉트릭(주)', '2조 2,834억원') ,('한국과학기술연구원', '서울 성북구 하월곡동 39-1', '4,146억 2천만원') ,('한국수자원공사', '대전 대덕구 연축동 산6-2  한국수자원공사', '4조 7,347억원') ,('현대백화점', '서울 강남구 압구정1동 456번지 현대백화점', '1조 6,557억원') ,('(주)카카오', '경기 성남시 분당구 삼평동 681번지 에이치스퀘어 N동', '2조 4,565억원') ,('남해화학(주)', '전남 여수시 낙포동 남해화학(주)', '1조1872억') ,('(주)위메이드', '경기 성남시 분당구 삼평동 676 위메이드타워', '1198억 8천만') ,('삼성카드(주)', '서울 구로구 구로5동 3-25   서부금융센터', '3조 3022억원') ,('KCC', '서울 서초구 사평대로 344 (서초동, 금강빌딩) KCC', '2조 7,017억원') ,('샤넬코리아(유)', '서울 중구 세종대로9길 41 (서소문동, 퍼시픽타워) 11층 샤넬', '1조 5,912억원') ,('㈜천재교과서', '서울 금천구 가산디지털1로 16 (가산동) SK V1 AP타워 11,18~20층', '1,755억 2천만원') ,('윤성에프앤씨', '경기 안성시 문터길 72-23 (마정리) 윤성에프앤씨', '1288억 9천만') ,('㈜키스템프', '서울 중구 을지로5길 16 (을지로2가, 삼화타워) 4층', '435억 1천만원') ,('두나무', '서울 서초구 강남대로 369 (서초동, 에이플러스에셋타워) 8층, 12층, 15층, 17층, 18층', '1조 2,193억원') ,('㈜맥서브', '서울특별시 강남구 영동대로85길 28  (대치동) 성원타워 1층', '4,808억 2천만원');